<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevZH.HtmlAgilityPack" version="1.4.9.4" targetFramework="net46" />
  <package id="RSA.Fizzler" version="1.0.0" targetFramework="net46" />
  <package id="RSA.Fizzler.Systems.HtmlAgilityPack" version="1.0.0" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net46" />
</packages>