@{
    ViewData["Title"] = "FAQ";
}

<div class="container">
    <table class="table table-striped">
        <thead class="">
            <tr>
                <td>
                    <strong>Question</strong>
                </td>
                <td>
                    <strong>Answer</strong>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-capitalize success">
                    Countdown Doesnt End when the auction does?
                </td>
                <td>
                    Of course it does! GoDaddy end times are based on the time where their servers are based, not nessescerally the same time as your current time zone. If it says it ends at 9pm and thats and hour away for you - it could well be several more or less. Just keep your eye on the timers and bid history, that will keep you sane.
                </td>
            </tr>
            <tr>
                <td class="text-capitalize success">
                    Why can't I find this domain? It doesn't show up in search
                </td>
                <td>
                    DAS is specifically built for Auction-format listings where you can set bids. You won't be able to use the sniper function for "Offer" listings or "Buy-it-now" domains
                </td>
            </tr>
        </tbody>
    </table>
</div>
